<div class = 'container'>
  <h1>Stupid Coaching</h1>
  <div class = "question">
    <p> - <%=@question%> </p>
    <p class = "italian"> - You </p>
  </div>

  <div class = "coach">
    <p> <%=@answer%> </p>
    <p class = "italian"> - Your Coach </p>
  </div>

  <%= link_to "Ask the coach a question", ask_path %>
</div>s
